certifi==2022.12.7
cycler==0.10.0
Cython==0.29.20
dill==0.3.2
joblib==1.2.0
kiwisolver==1.2.0
llvmlite==0.33.0
matplotlib==3.2.1
mkl-fft==1.0.15
mkl-service==2.3.0
mpmath==1.1.0
numba==0.50.0
numexpr==2.7.1
numpy==1.21.0
olefile==0.46
pandas==1.0.3
Pillow==9.0.1
pox==0.2.8
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.22.1
scipy==1.5.0
six==1.14.0
sympy==1.6.1
torch==1.6.0
